<h1><%= @post.title %></h1>
<p> By: <%= link_to @post.blogger.name, blogger_path(@post.blogger) %></p>
<p> Destination: <%= link_to @post.destination, destination_path(@post.destination) %></p>

<p><%= @post.content %></p>

